{% extends 'GESTIONGestionBundle::base.html.twig' %}

{% block body -%}

{{ form_start(edit_form) }}
<h1>
	Edición de {{entity}}
	<a class="btn btn-default" style="margin-left:1%; float:right;" href="{{ path('colaboracion') }}">
		Volver
	</a>
	{{ form_widget(edit_form.submit) }}
</h1>
<div class="col-md-12">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				Editar Entrega 
				<label style="float:right;font-size: 1.2em;">Total: <span id="total">$ 0</span></label>
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<!-- Nav tabs -->
				<ul class="nav nav-pills">
					<li class="active"><a href="#informacion" data-toggle="tab">Información Básica</a>
					</li>
					<li><a href="#elementos" data-toggle="tab">Insumos</a>
					</li>
					<li><a href="#adjuntos" data-toggle="tab">Adjuntos</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane fade in active" id="informacion">
						<h4>Información Básica</h4>
						<div class="col-md-6">
							<button style="float: right;" type="button" class="btn btn-danger" onclick="$('#gestion_gestionbundle_colaboracion_cliente, #gestion_gestionbundle_colaboracion_idcliente').val('').removeAttr('readonly')">
								Borrar <i class="fa fa-times"></i>
							</button>
							{{ form_row(edit_form.cliente) }}
							<div style="z-index: 1000; max-height: 200px;overflow: auto;" id="sugerenciacliente"></div>

							<div class="hidden">
							{{ form_row(edit_form.idcliente) }}
							{{ form_row(edit_form.archivo) }}
							</div>
							{{ form_row(edit_form.fecha) }}
						</div>
						<div class="col-md-6">
							{{ form_row(edit_form.descuento) }}
							{{ form_row(edit_form.bonificacion) }}
						</div>
						<div class="col-md-12">
							{{ form_row(edit_form.descripcion) }}
						</div>
						{{ form_rest(edit_form) }}
					</div>
					<div class="tab-pane fade" id="elementos">
						<h4>Insumos</h4>
						<div>
							<div class="col-md-6 col-sm-6 text-center">
								<label>Insumo</label>
							</div>
							<div class="col-md-2 col-sm-2 text-center">
								<label>Cantidad</label>
							</div>
							<div class="col-md-2 col-sm-2 text-center">
								<label>Precio</label>
							</div>
							<div class="col-md-2 col-sm-2 text-center">
								<label>Acción</label>
							</div>
							{% for elementocolaboracion in entity.elementoscolaboracion %}
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<input type="text" name="elemento{{loop.index}}" readonly="readonly" id="elemento{{loop.index}}" onkeypress="predictivaPropia({{loop.index}})" value="{{ elementocolaboracion.elementostock.elemento.nombre }} - Origen: {{ elementocolaboracion.elementostock.tipofactura }}, N° {{ elementocolaboracion.elementostock.factura }}" />
									<input type="hidden" name="idelemento{{loop.index}}" id="idelemento{{loop.index}}" value="{{ elementocolaboracion.elementostock.id }}" />
									<input type="hidden" name="idelementocolaboracion{{ elementocolaboracion.elementostock.id }}" id="idelementocolaboracion{{ elementocolaboracion.elementostock.id }}" value="{{ elementocolaboracion.id }}" />
								</div>
								<div class="col-md-2 col-sm-2">
									<input type="number" min="0" name="cantidad{{loop.index}}" id="cantidad{{loop.index}}" value="{{ elementocolaboracion.cantidad }}" max="{{ elementocolaboracion.elementostock.stock +  elementocolaboracion.cantidad }}" />
								</div>
								<div class="col-md-2 col-sm-2">
									<input type="text" name="precio{{loop.index}}" id="precio{{loop.index}}" value="{{ elementocolaboracion.precio }}"  />
								</div>
								<div class="col-md-2 col-sm-2 text-center">
									<button type="button" class="btn btn-danger disabled">
										<i class="fa fa-times"></i>
									</button>
								</div>
							</div>
							{% endfor %}
							{% for i in entity.elementoscolaboracion|length+1..30 %}
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<input type="text" name="elemento{{i}}" id="elemento{{i}}" onkeypress="predictivaPropia({{i}})" />
									<div style="z-index: 1000; max-height: 200px;overflow: auto;" id="sugerencia{{i}}"></div>
									<input type="hidden" name="idelemento{{i}}" id="idelemento{{i}}" />
								</div>
								<div class="col-md-2 col-sm-2">
									<input type="number" min="0" name="cantidad{{i}}" id="cantidad{{i}}" />
								</div>
								<div class="col-md-2 col-sm-2">
									<input type="text" name="precio{{i}}" id="precio{{i}}" />
								</div>
								<div class="col-md-2 col-sm-2 text-center">
									<button type="button" class="btn btn-danger" onClick="$('#cantidad{{i}}, #precio{{i}}, #elemento{{i}}, #idelemento{{i}}').val('').removeAttr('readonly')">
										<i class="fa fa-times"></i>
									</button>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
					<div class="tab-pane fade" id="adjuntos">
						<h4>Adjuntos</h4>
						<div>
							{% for i in 1..9 %}
							<div class="col-md-4 col-sm-4">
								<input type="file" name="adjunto{{i}}" id="adjunto{{i}}"/>
							</div>
							{% endfor %}
							<div class="col-md-12" style="margin-top:2%;">
								<label>
									Seleccionar archivo para eliminar
								</label>
							</div>
							{% for adjunto in entity.adjuntos  %}
							<div class="col-md-2 col-sm-2">
								{{adjunto.nombre}} <input type="checkbox" class="checks" value="{{adjunto.id}}" name="adjuntos[]" />
							</div>
							{% endfor %}
							
						</div>
					</div>
				</div>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.row -->
</div>
{{ form_end(edit_form) }}

<script>
	function predictivaPropia(i){
		$.post( "{{path('_predictivaPropia')}}", { repositorio: "Elemento", campo: "nombre", valor: $("#elemento"+i).val() } )
		.done(function(data){
			$('#sugerencia'+i).fadeIn(500).html(data);
			
			$('.suggest-element').on('click', function(){
				var id = $(this).attr('id');
				var stock = parseInt($(this).attr('stock'));
				var precio = parseFloat($(this).attr('precio'));

				$('#elemento'+i).val($('#predictivaelemento'+id).html()).prop('readonly','readonly');
				$('#idelemento'+i).val(id);
				$('#sugerencia'+i).fadeOut(500);

				if(stock>0){
					$('#cantidad'+i).val('1').focus().attr('max', stock);
					$('#precio'+i).val(precio);
				}else{
					alert('Este articulo no cuenta con STOCK suficiente para poder ser seleccionado.');
					$('#cantidad'+i+', #elemento'+i+', #precio'+i+', #idelemento'+i).val('').removeAttr('readonly');
				}
			});
		});	
	}
	
	function predictivaCliente(){
		$.post( "{{path('_predictivaPropia')}}", { repositorio: "Cliente", campo: "razonSocial", valor: $("#gestion_gestionbundle_colaboracion_cliente").val() } )
		.done(function(data){
			$('#sugerenciacliente').fadeIn(500).html(data);
			
			$('.suggest-element').on('click', function(){
				var id = $(this).attr('id');
				$('#gestion_gestionbundle_colaboracion_idcliente').val(id);				
				$('#gestion_gestionbundle_colaboracion_cliente').val($('#busqueda'+id).html()).prop('readonly','readonly');
				$('#sugerenciacliente').fadeOut(500);
			});
		});	
	}
		
	$("document").ready(function(){
		calcular();
		$("input").attr("autocomplete", "off");

		$("#gestion_gestionbundle_colaboracion_cliente").keyup(function(){
			predictivaCliente();
		});

		$("#gestion_gestionbundle_colaboracion_movil, #gestion_gestionbundle_colaboracion_idmovil").removeAttr('required');

		$("#gestion_gestionbundle_colaboracion_idcliente").val('{{entity.cliente.id|default('')}}');
		$("#gestion_gestionbundle_colaboracion_cliente").val('{{entity.cliente|default('')}}').prop('readonly','readonly');

		$("#gestion_gestionbundle_colaboracion_fecha").val('{{entity.fecha|date('Y-m-d')}}');
		$(".checks").removeClass("form-control");
	});

	$("input").blur(function(){
		calcular();
	});

	function calcular(){
		var total = 0;
		for(i=1; i<=30; i++){
			if($('#cantidad'+i).val() != '' && $('#precio'+i).val()!=''){
				total+=parseFloat($('#cantidad'+i).val())*parseFloat($('#precio'+i).val());
			}
		}
		
		if($('#gestion_gestionbundle_colaboracion_descuento').val()!='' && parseInt($('#gestion_gestionbundle_colaboracion_descuento').val())!=0 ){
			total = total*(1-(parseInt($('#gestion_gestionbundle_colaboracion_descuento').val())/100));
		}
		if(parseInt($('#gestion_gestionbundle_colaboracion_bonificacion').val())>0){
			total-=parseInt($('#gestion_gestionbundle_colaboracion_bonificacion').val());
		}
		$('#total').html('$ '+total.toFixed(2));
	}
	
</script>
{% endblock %}
