{% extends 'GESTIONGestionBundle::base.html.twig' %}

{% block body -%}
    <h1>
		Entrega de Insumos
		<a class="btn btn-primary" style="float:right;" href="{{ path('colaboracion_new') }}">
			Crear
		</a>
	</h1>
	<div style="margin-bottom: 2%;" class="row">
		<form action="{{ path('colaboracion') }}">
			<div class="col-md-12">
				<label>
					Filtro entre fechas
				</label>
			</div>
			<div class="col-md-3">
				<input placeholder="Fecha Desde" type="text" class="datetimepicker" name="desde" readonly="readonly" value="{{desde|default(app.request.get('desde'))}}" />
			</div>
			<div class="col-md-3">
				<input placeholder="Fecha Hasta" type="text" class="datetimepicker" name="hasta" readonly="readonly" value="{{hasta|default(app.request.get('hasta'))}}" />
			</div>
			<div class="col-md-6">
				<button type="submit" class="btn btn-success" style="margin-top:1px">Filtrar</button>
				<button type="button" class="btn btn-danger" style="margin-top:1px" onclick="$('.datetimepicker').val('')">Limpiar</button>
			</div>
		</form>
	</div>
	<div class="gestion">
		<table class="display" id="tablas" width="100%">
			<thead>
				<tr>
					<th>ID</th>
					<th>Cliente</th>
                    <th>Descripción</th>
                    <th>Estado</th>
					<th>Fecha</th>
					<th>Total</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td><a href="{{ path('colaboracion_show', { 'id': entity.id }) }}">{{ entity }}</a></td>
					<td>{{ entity.cliente|default('-') }}</td>
					<td>{{ entity.descripcion|slice(0, 100) }}</td>
					<td>{{ entity.estadostr|raw }}</td>
					<td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d') }}{% endif %}</td>
					<td>$ {{ entity.total }}</td>
					<td>
					{% if entity.codEstado == 'A'%}
						<a class="btn btn-success btn-xs" href="{{ path('colaboracion_edit', { 'id': entity.id }) }}" title="Editar"><i class="fa fa-pencil"></i></a>
						<a class="btn btn-primary btn-xs" href="{{ path('colaboracion_show', { 'id': entity.id }) }}" title="Ver"><i class="fa fa-search"></i></a>
						<button class="btn btn-danger btn-xs" onclick="borrar('{{ path('colaboracion_delete', { 'id': entity.id }) }}')" title="Borrar"><i class="fa fa-times"></i></button>
                    {% endif %}
                    {% if entity.codEstado == 'PNE' %}
                        <a class="btn btn-success btn-xs" href="{{ path('colaboracion_reportarentrega', { 'id': entity.id }) }}" title="Reportar Entrega">Reportar Entrega</a>
                        <a class="btn btn-primary btn-xs" href="{{ path('colaboracion_show', { 'id': entity.id }) }}" title="Ver"><i class="fa fa-search"></i></a>
                    {% endif %}
                    {% if entity.codEstado == 'PE' %}
                        <a class="btn btn-primary btn-xs" href="{{ path('colaboracion_show', { 'id': entity.id }) }}" title="Ver"><i class="fa fa-search"></i></a>
                    {% endif %}
                    {% if entity.codEstado == 'P' %}
						<a class="btn btn-success btn-xs" href="{{ path('colaboracion_reportarpago', { 'id': entity.id }) }}" title="Reportar Pago">Reportar Pago</a>
						<a class="btn btn-primary btn-xs" href="{{ path('colaboracion_show', { 'id': entity.id }) }}" title="Ver"><i class="fa fa-search"></i></a>
						<button class="btn btn-danger btn-xs" onclick="borrar('{{ path('colaboracion_cancelar', { 'id': entity.id }) }}')" title="Cancelar"><i class="fa fa-times"></i></button>
					{% endif %}
                    {% if (entity.codEstado == 'E' or entity.codEstado == 'C') %}
                        <a class="btn btn-primary btn-xs" href="{{ path('colaboracion_show', { 'id': entity.id }) }}" title="Ver"><i class="fa fa-search"></i></a>
                    {% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

	<script>
		$("document").ready(function(){
			table.order([4, 'desc']).draw();
		});
	</script>
{% endblock %}
