{% extends 'GESTIONGestionBundle::base.html.twig' %}

{% block body -%}
{{ form_start(form) }}
<h1>
	Crear Entrega
	<a class="btn btn-default" style="margin-left:1%; float:right;" href="{{ path('colaboracion') }}">
		Volver
	</a>
	{{ form_widget(form.submit) }}
</h1>
<div class="col-md-12">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				Alta de Entrega
				<label style="float:right;font-size: 1.2em;">Total: <span id="total">$ 0</span></label>
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<!-- Nav tabs -->
				<ul class="nav nav-pills">
					<li class="active"><a href="#informacion" data-toggle="tab">Información Básica</a>
					</li>
					<li><a href="#elementos" data-toggle="tab">Productos</a>
					</li>
					<li><a href="#adjuntos" data-toggle="tab">Adjuntos</a>
					</li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane fade in active" id="informacion">
						<h4>Información Básica</h4>
						<div class="col-md-6">
							<button style="float: right;" type="button" class="btn btn-danger" onclick="$('#gestion_gestionbundle_colaboracion_cliente, #gestion_gestionbundle_colaboracion_idcliente').val('').removeAttr('readonly')">
								Borrar <i class="fa fa-times"></i>
							</button>
							{{ form_row(form.cliente) }}
							<div style="z-index: 1000; max-height: 200px;overflow: auto;" id="sugerenciacliente"></div>
							<div class="hidden">
							{{ form_row(form.idcliente) }}
							{{ form_row(form.archivo) }}
							</div>
							{{ form_row(form.fecha) }}
						</div>
						<div class="col-md-6">
							{{ form_row(form.descuento) }}
							{{ form_row(form.bonificacion) }}
						</div>
						<div class="col-md-12">
							{{ form_row(form.descripcion) }}
						</div>
						{{ form_rest(form) }}
					</div>
					<div class="tab-pane fade" id="elementos">
						<h4>Productos</h4>
						<div>
							<div class="col-md-6 col-sm-6 text-center">
								<label>Insumo</label>
							</div>
							<div class="col-md-2 col-sm-2 text-center">
								<label>Cantidad</label>
							</div>
							<div class="col-md-2 col-sm-2 text-center">
								<label>Precio</label>
							</div>
							<div class="col-md-2 col-sm-2 text-center">
								<label>Acción</label>
							</div>
							{% for i in 1..30 %}
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<input type="text" name="elemento{{i}}" id="elemento{{i}}" onkeyup="predictivaPropia({{i}})" />
									<div style="z-index: 1000; max-height: 200px;overflow: auto;" id="sugerencia{{i}}"></div>
									<input type="hidden" name="idelemento{{i}}" id="idelemento{{i}}" />
								</div>
								<div class="col-md-2 col-sm-2">
									<input type="number" min="0" name="cantidad{{i}}" id="cantidad{{i}}" />
								</div>
								<div class="col-md-2 col-sm-2">
									<input type="text" name="precio{{i}}" id="precio{{i}}" />
								</div>
								<div class="col-md-2 col-sm-2 text-center">
									<button type="button" class="btn btn-danger" onClick="$('#cantidad{{i}}, #precio{{i}}, #elemento{{i}}, #idelemento{{i}}').val('').removeAttr('readonly')">
										<i class="fa fa-times"></i>
									</button>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
					<div class="tab-pane fade" id="adjuntos">
						<h4>Adjuntos</h4>
						<div>
							{% for i in 1..9 %}
							<div class="col-md-4 col-sm-4">
								<input type="file" name="adjunto{{i}}" id="adjunto{{i}}"/>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.row -->
</div>
{{ form_end(form) }}

<script>
	
	function predictivaPropia(i){
		$.post( "{{path('_predictivaPropia')}}", { repositorio: "Elemento", campo: "nombre", valor: $("#elemento"+i).val() } )
		.done(function(data){
			$('#sugerencia'+i).fadeIn(500).html(data);
			
			$('.suggest-element').on('click', function(){
				var id = $(this).attr('id');
				var stock = parseInt($(this).attr('stock'));
				var precio = parseFloat($(this).attr('precio'));

				$('#elemento'+i).val($('#predictivaelemento'+id).html()).prop('readonly','readonly');
				$('#idelemento'+i).val(id);
				$('#sugerencia'+i).fadeOut(500);

				if(stock>0){
					$('#cantidad'+i).val('1').focus().attr('max', stock);
					$('#precio'+i).val(precio);
				}else{
					alert('Este articulo no cuenta con STOCK suficiente para poder ser seleccionado.');
					$('#cantidad'+i+', #elemento'+i+', #precio'+i+', #idelemento'+i).val('').removeAttr('readonly');
				}
			});
		});	
	}
	
	function predictivaCliente(){
		$.post( "{{path('_predictivaPropia')}}", { repositorio: "Cliente", campo: "razonSocial", valor: $("#gestion_gestionbundle_colaboracion_cliente").val() } )
		.done(function(data){
			$('#sugerenciacliente').fadeIn(500).html(data);
			
			$('.suggest-element').on('click', function(){
				var id = $(this).attr('id');
				$('#gestion_gestionbundle_colaboracion_idcliente').val(id);				
				$('#gestion_gestionbundle_colaboracion_cliente').val($('#busqueda'+id).html()).prop('readonly','readonly');
				$('#sugerenciacliente').fadeOut(500);
			});
		});	
	}
	
	$("document").ready(function(){
		$("input").attr("autocomplete", "off");
		$("#gestion_gestionbundle_colaboracion_cliente").attr("autocomplete", "off");
		
		$("#gestion_gestionbundle_colaboracion_cliente").keyup(function(){
			predictivaCliente();
		});
	});

	$("input").blur(function(){
		calcular();
	});

	function calcular(){
		var total = 0;
		for(i=1; i<=30; i++){
			if($('#cantidad'+i).val() != '' && $('#precio'+i).val()!=''){
				total+=parseFloat($('#cantidad'+i).val())*parseFloat($('#precio'+i).val());
			}
		}
		
		if($('#gestion_gestionbundle_colaboracion_descuento').val()!='' && parseInt($('#gestion_gestionbundle_colaboracion_descuento').val())!=0 ){
			total = total*(1-(parseInt($('#gestion_gestionbundle_colaboracion_descuento').val())/100));
		}
		if(parseInt($('#gestion_gestionbundle_colaboracion_bonificacion').val())>0){
			total-=parseInt($('#gestion_gestionbundle_colaboracion_bonificacion').val());
		}
		$('#total').html('$ '+total.toFixed(2));
	}
</script>
{% endblock %}
