{% extends 'GESTIONGestionBundle::base.html.twig' %}
{% block body -%}

<h1>Carga Masiva</h1>

<div class="controls filtrocuerpo" style="width: 40%;">
	<form class="formModal" enctype="multipart/form-data" action="{{ path('_importarArchivos') }}" method="post">
		<div style="margin-top: 25px;">
			<div style="text-align: center; margin-top: 10px;">
				<strong>Seleccione archivo</strong>	
				<input id="archivo" type="file" style="margin: 0 auto;" name="archivo">
				<input id="desde" type="hidden" value="1" name="desde">
			</div>
		</div>
		<br>
		<button type="submit" class="btn btn-primary" style="margin-top:-20px;" onclick="ocultar(this.id)">Cargar</button>
	</form>
</div>
<div css="row-fluid">
	<strong>Consideraciones:</strong>	
	<p>
		- El archivo debe ser un archivo excel con extensi&oacute;n .xlsx<br>
		- Las celdas no pueden tener valores calculados. Ej: C2*C3. Hay que reemplazarlo por el valor.<br>
		- Verificar que los nombres de las listas de precios son exactas con las ya existentes para evitar duplicidad.<br>
		- No dejar filas libres ya que esto es una se&ntilde;al para cortar con la carga masiva.<br>
		- La celda <strong>a1</strong> se utiliza para el t&iacute;tulo "Categor&iacute;a". Debe ponerse el ID de la misma, obtenido desde la secci&oacute;n <strong>Categor&iacute;a</strong><br>
		- La celda <strong>b1</strong> se utiliza para el t&iacute;tulo "C&oacute;digo".<br>
		- La ceda <strong>c1</strong> se utiliza para el t&iacute;tulo "Cantidad". <label>LA CANTIDAD SE SUMA A LA CANTIDAD ACTUAL EN EL SISTEMA</label><br>
		- La ceda <strong>d1</strong> se utiliza para el t&iacute;tulo "Costo".<br>
		- La ceda <strong>e1</strong> se utiliza para el t&iacute;tulo "Descripcion".<br>
		- En la celda <strong>f1</strong> se pone el precio de venta del producto.
	</p>
</div>
<script>
	activarActionsTab('cargamasiva');
</script>
{% endblock %}
