{% extends 'GESTIONGestionBundle::base.html.twig' %}

{% block body -%}
    <h1>
		Ganancia
	</h1>
	<div style="margin-bottom: 2%;" class="row">
		<form action="{{ path('_ganancias') }}">
			<div class="col-md-12">
				<label>
					Filtro entre fechas
				</label>
			</div>
			<div class="col-md-3">
				<input placeholder="Fecha Desde" type="text" class="datetimepicker" name="desde" readonly="readonly" value="{{app.request.get('desde')}}" required="required" />
			</div>
			<div class="col-md-3">
				<input placeholder="Fecha Hasta" type="text" class="datetimepicker" name="hasta" readonly="readonly" value="{{app.request.get('hasta')}}" required="required" />
			</div>
			<div class="col-md-6">
				<button type="submit" class="btn btn-success" style="margin-top:1px">Filtrar</button>
				<button type="button" class="btn btn-danger" style="margin-top:1px" onclick="$('.datetimepicker').val('')">Limpiar</button>
			</div>
		</form>
	</div>
	<div class="gestion">
		<table class="display" id="tabla" width="100%">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Producto</th>
					<th>Documento</th>
					<th>Cantidad</th>
					<th>Costo x Cantidad</th>
					<th>Precio x Cantidad</th>
					<th>Diferencia</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.colaboracion.fecha|date('Y-m-d') }}</td>
					<td>{{ entity.elementostock.elemento }}</td>
					<td>{{ entity.colaboracion }}</td>
					<td>{{ entity.cantidad }}</td>
					<td>$ {{ entity.elementostock.costo * entity.cantidad }} (${{entity.elementostock.costo}})</td>
					<td>$ {{ entity.precio * entity.cantidad }} (${{entity.precio}})</td>
					<td>{{ (entity.precio * entity.cantidad) - (entity.elementostock.costo * entity.cantidad) }}</td>
				</tr>
			{% endfor %}
			{% for entity in gastos %}
				<tr>
					<td>{{ entity.fecha|date('Y-m-d') }}</td>
					<td>{{ entity.tipogasto }}</td>
					<td>{{ entity }}</td>
					<td>1</td>
					<td></td>
					<td>$ {{ entity.importe }}</td>
					<td>-{{ entity.importe }}</td>
				</tr>
			{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th>Total</th>
					<th></th>
				</tr>
			</tfoot>
		</table>
	</div>

	<script>
			$('#tabla').DataTable( {
				"paging":   false,
				"info":     false,
				"filter": false,
				"scrollY":  "480px",
				"order": [[0, "asc"]],
				"ordering": true,
				dom: 'Bfrtip',
				buttons: [
					{
						extend: 'excelHtml5',
						filename: 'Listado de Ingresos y Egresos',
						text: 'Guardar en excel',
						footer: true,
						exportOptions: {
							modifier: {
								page: 'current'
							}
						}
					}		
				],
				"oLanguage": {
					"sSearch": "Buscar:",
					"sEmptyTable": 	   "No se encontraron registros.",			
					"sProcessing":     "Procesando...",
					"sLengthMenu":     "Mostrar _MENU_ registros",
					"sZeroRecords":    "No se encontraron resultados",
					"sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
					"sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
					"sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
					"sInfoPostFix":    "",
					"sSearch":         "Buscar:",
					"sUrl":            "",
					"sInfoThousands":  ",",
					"sLoadingRecords": "Cargando..."
				},
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                                i.replace(/[\$,]/g, '') * 1 :
                                typeof i === 'number' ?
                                i : 0;
                    };
                    pageTotal = api
                            .column(6, {page: 'current'})
                            .data()
                            .reduce(function (a, b) {
                                return parseFloat(a) + parseFloat(b);
                            }, 0);
                    $(api.column(6).footer()).html(
						'$' + (Math.round(pageTotal * 100) / 100)
					);
                }
				
			} );
			
			$('document').ready(function(){
				$('.buttons-excel').removeClass('buttons-html5').removeClass('dt-button').addClass('btn btn-success');
			});
	</script>
{% endblock %}
