{% extends 'GESTIONGestionBundle::base.html.twig' %}

{% block body -%}
    <h1>
		Listado de Ingresos y Egresos
	</h1>
	<div style="margin-bottom: 2%;" class="row">
		<form action="{{ path('informeingresosegresos') }}">
			<div class="col-md-12">
				<label>
					Filtro entre fechas
				</label>
			</div>
			<div class="col-md-3">
				<input placeholder="Fecha Desde" type="text" class="datetimepicker" name="desde" readonly="readonly" value="{{app.request.get('desde')}}" />
			</div>
			<div class="col-md-3">
				<input placeholder="Fecha Hasta" type="text" class="datetimepicker" name="hasta" readonly="readonly" value="{{app.request.get('hasta')}}" />
			</div>
			<div class="col-md-6">
				<button type="submit" class="btn btn-success" style="margin-top:1px">Filtrar</button>
				<button type="button" class="btn btn-danger" style="margin-top:1px" onclick="$('.datetimepicker').val('')">Limpiar</button>
			</div>
		</form>
	</div>
	<div class="gestion">
		<table class="display" id="tabla" width="100%">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>TIPO</th>
					<th>Elemento</th>
					<th>Cliente</th>
					<th>Origen / Destino</th>
					<th>Proviene</th>
					<th>Cantidad</th>
					<th>Costo / Precio Venta</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in ingresos %}
				<tr>
					<td>{{ entity.fecha|date('Y-m-d') }}</td>
					<td style="color:green;font-weight:bold;">INGRESO</td>
					<td>{{ entity.elemento.codigo }} - {{ entity.elemento.nombre }}</td>
					<td></td>
					<td>{{ entity.tipofactura }} - N°{{ entity.factura }}</td>
					<td></td>
					<td>{{ entity.stock + entity.stockusado }}</td>
					<td>-{{ entity.costo }}</td>
				</tr>
			{% endfor %}
			{% for entity in egresos %}
				<tr>
					<td>{{ entity.colaboracion.fecha|date('Y-m-d') }}</td>
					<td style="color:red;font-weight:bold;">EGRESO</td>
					<td>{{ entity.elementostock.elemento.codigo }} - {{ entity.elementostock.elemento.nombre }}</td>
					<td>{{ entity.colaboracion.cliente }}</td>
					<td><a href="{{path('colaboracion_show', {id:entity.colaboracion.id})}}">{{ entity.colaboracion }}</a></td>
					<td>{{ entity.elementostock.tipofactura }} - N°{{ entity.elementostock.factura }}</td>
					<td>{{ entity.cantidad }}</td>
					<td>{{ entity.precio }}</td>
				</tr>
			{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th>Total</th>
					<th></th>
				</tr>
			</tfoot>
		</table>
	</div>

	<script>
			$('#tabla').DataTable( {
				"paging":   false,
				"info":     false,
				"filter": false,
				"scrollY":  "480px",
				"order": [[0, "asc"]],
				"ordering": true,
				dom: 'Bfrtip',
				buttons: [
					{
						extend: 'excelHtml5',
						filename: 'Listado de Ingresos y Egresos',
						text: 'Guardar en excel',
						footer: true,
						exportOptions: {
							modifier: {
								page: 'current'
							}
						}
					}		
				],
				"oLanguage": {
					"sSearch": "Buscar:",
					"sEmptyTable": 	   "No se encontraron registros.",			
					"sProcessing":     "Procesando...",
					"sLengthMenu":     "Mostrar _MENU_ registros",
					"sZeroRecords":    "No se encontraron resultados",
					"sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
					"sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
					"sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
					"sInfoPostFix":    "",
					"sSearch":         "Buscar:",
					"sUrl":            "",
					"sInfoThousands":  ",",
					"sLoadingRecords": "Cargando..."
				},
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                                i.replace(/[\$,]/g, '') * 1 :
                                typeof i === 'number' ?
                                i : 0;
                    };
                    pageTotal = api
                            .column(7, {page: 'current'})
                            .data()
                            .reduce(function (a, b) {
                                return parseFloat(a) + parseFloat(b);
                            }, 0);
                    $(api.column(6).footer()).html(
						'$' + pageTotal
					);
                }
				
			} );
			
			$('document').ready(function(){
				$('.buttons-excel').removeClass('buttons-html5').removeClass('dt-button').addClass('btn btn-success');
			});
	</script>
{% endblock %}
