{% extends 'GESTIONGestionBundle::base.html.twig' %}

{% block body -%}
    <h1>
	{% if entity.tipoDocumento == 'G' %} Alta de Gasto {% endif %}
		<a class="btn btn-default" href="{{path('documento_gastos')}}">
			Volver
		</a>
	</h1>

    <div class="joyas-container">
		<div class="container">
			{{ form_start(form) }}
			<div class="recibos">
				<label>Fecha</label>
				<input name="fecha" class="datetimepicker" onkeydown="return false" required />
				<div class="hidden">{{ form_widget(form.fecha) }}</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
<script>
</script>
{% endblock %}
