{% extends 'GESTIONGestionBundle::base.html.twig' %}

{% block body -%}
    <h1>
		Stocks asociados al elemento "{{elemento.codigo}} - {{elemento.nombre}}"
		<a class="btn btn-default" style="float:right;" href="{{ path('elemento') }}">
			Volver
		</a>
		<a class="btn btn-primary" style="float:right;" href="{{ path('elementostock_new', {id: elemento.id}) }}">
			Crear
		</a>
	</h1>
	<div class="gestion">
		<table class="display" id="tablas">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Tipo Fact.</th>
					<th>N° Fact.</th>
					<th>Stock</th>
					<th>Costo</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
					<td>{% if entity.factura %}{{ entity.tipofactura }}{% endif %}</td>
					<td>{{ entity.factura }}</td>
					<td>{{ entity.stock }}</td>
					<td>{{ entity.costo }}</td>
					<td>
						<a class="btn btn-success" href="{{ path('elementostock_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
    </div>
	<script>
		$("document").ready(function(){
			table.order([0, 'desc']).draw();
		});
	</script>
    {% endblock %}
