<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="TITANIO">
        <meta name="keywords" content="TITANIO">
        <meta name="author" content="Corvalan Nicolas">

        <title>TITANIO</title>

        <!-- DATA TABLE -->
        <script type="text/javascript" src="{{ asset('bundles/DataTable/jquery-1.11.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/DataTable/jquery.dataTables.min.js') }}"></script>

		<script language="JavaScript" type="text/JavaScript" src="{{ asset('bundles/DataTableEXPORT/dataTables.buttons.min.js') }}"> </script>
		<script language="JavaScript" type="text/JavaScript" src="{{ asset('bundles/DataTableEXPORT/jszip.min.js') }}"> </script>
		<script language="JavaScript" type="text/JavaScript" src="{{ asset('bundles/DataTableEXPORT/pdfmake.min.js') }}"> </script>
		<script language="JavaScript" type="text/JavaScript" src="{{ asset('bundles/DataTableEXPORT/vfs_fonts.js') }}"> </script>
		<script language="JavaScript" type="text/JavaScript" src="{{ asset('bundles/DataTableEXPORT/buttons.html5.min.js') }}"> </script>

		<link href="{{ asset('bundles/DataTableEXPORT/buttons.dataTables.min.css') }}" rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ asset('bundles/DataTable/jquery.dataTables.css') }}">

		<!-- Bootstrap Core CSS -->
        <link href="{{ asset('bundles/nuevo/bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{{ asset('bundles/nuevo/bower_components/metisMenu/dist/metisMenu.min.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ asset('bundles/nuevo/dist/css/sb-admin-2.css') }}?rand={{ random(5) }}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{{ asset('bundles/nuevo/bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('bundles/nuevo/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{{ asset('bundles/nuevo/bower_components/metisMenu/dist/metisMenu.min.js') }}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{{ asset('bundles/nuevo/dist/js/sb-admin-2.js') }}"></script>
        <!-- Datepicker -->
        <link rel="stylesheet" href="{{ asset('bundles/datetimepicker/jquery.datetimepicker.css') }}">
        <script src="{{ asset('bundles/datetimepicker/jquery.datetimepicker.js') }}"></script>

        <link  href="{{ asset('bundles/joyas/img/favicon.ico') }}" rel="icon" type="image/x-icon" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script>
            var table;
            var tableSF;
			function borrar(link){
				if(confirm("Esta seguro que desea borrar?")){
					window.location.href=link;
				}
			}

            $(document).ready(function () {
                $('h1>a').css('float', 'right');
                $('input').addClass('form-control');

				$( "input:file" ).removeClass('form-control').removeAttr('required');
				$('input:first').focus();

                table = $('#tablas').DataTable({
                    "scrollY": "600px",
                    "scrollX": true,
                    "scrollCollapse": true,
                    "paging": false,
                    "info": false,
                    responsive: true,
                    "filter": true,
                    "order": [[0, "asc"]],
                    "oLanguage": {
						"sSearch": 		   "Buscar:",
						"sEmptyTable": 	   "No se encontraron registros.",
						"sProcessing":     "Procesando...",
						"sLengthMenu":     "Mostrar _MENU_ registros",
						"sZeroRecords":    "No se encontraron resultados",
						"sInfo":           "Mostrando registros del: _START_ al _END_ (de un total de _TOTAL_ registros)",
						"sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
						"sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
						"sInfoPostFix":    "",
						"sSearch":         "Buscar:",
						"sUrl":            "",
						"sInfoThousands":  ",",
						"sLoadingRecords": "Cargando..."
					}
                });

                tableSF = $('#tablaSF').DataTable({
                    "scrollY": "400px",
                    "scrollCollapse": true,
                    "scrollX": true,
                    "paging": false,
                    "info": false,
                    responsive: true,
                    "filter": false,
                    "order": [[0, "desc"]]
                });

                $(".datetimepicker").datetimepicker({
                    format: 'Y-m-d'
                });

                $("select").addClass('form-control');
                $('[data-toggle="tooltip"]').tooltip();

            });

            $(window).resize(function () {
                $('#tablas').DataTable().columns.adjust().draw();
                $('#tablaSF').DataTable().columns.adjust().draw();
            });
            $(window).load(function () {
                $('.preloader').fadeOut(1000); // set duration in brackets
            });
        </script>
        <link rel="stylesheet" href="{{ asset('bundles/style.css') }}?rand={{ random(5) }}">
    </head>

	{% set perfil = app.session.get('perfil') %}
	{% set idUsuario = app.session.get('idUsuario') %}

    <body>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{path('_inicio')}}" >
						<img style="width: 120px;" src="{{ asset('bundles/titanio/img/titaniologo.png') }}" />
                    </a>
                </div>
				<ul class="nav navbar-top-links navbar-right">
					<!-- /.dropdown -->
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						  {% set usuario = app.session.get('usuario') %}
						  {{ usuario }} <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-user">
							<li><a href="{{ path('usuario_edit', {id : idUsuario}) }}"><i class="fa fa-gear fa-fw"></i>Mis Datos</a>
							</li>
							<li class="divider"></li>
							<li><a href="{{ path('_cerrar') }}"><i class="fa fa-sign-out fa-fw"></i> Cerrar Sesi&oacute;n</a>
							</li>
						</ul>
					</li>
				</ul>
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
							<li>
								<a href="#"><i class="fa fa-list fa-fw"></i> Gestión<span class="fa arrow"></span></a>
								<ul class="nav nav-second-level">
									<li>
										<a href="{{ path('elemento') }}">
											Listado de Productos
										</a>
									</li>
									<li>
										<a href="{{path('colaboracion')}}">
											Entrega de Productos
										</a>
									</li>
									<li>
										<a href="{{path('documento_gastos')}}">
											Gastos
										</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="{{ path('cliente') }}"><i class="fa fa-users"></i> Clientes</a>
							</li>
						{% if perfil == 'ADMINISTRADOR'  %}
							<li>
								<a href="#"><i class="fa fa-file-text fa-fw"></i> Cargas Masivas<span class="fa arrow"></span></a>
								<ul class="nav nav-second-level">
									<li id="cargamasiva">
										<a href="{{ path('_cargamasiva') }}">
											Carga Masiva de Productos
										</a>
									</li>
									<li id="cargafacturas">
										<a href="{{ asset('bundles/templateImport.xlsx') }}">
											Descarga excel p/importaci&oacute;n
										</a>
									</li>
								</ul>
							</li>
						{% endif %}
 							<li>
								<a href="#"><i class="fa fa-file-excel-o fa-fw"></i> Informes<span class="fa arrow"></span></a>
								<ul class="nav nav-second-level">
								{% if perfil == 'ADMINISTRADOR'  %}
									<li>
										<a href="{{ path('_ganancias') }}">
											Ganancia (Precio - Costo)
										</a>
									</li>
									<li>
										<a href="{{ path('_gananciaventas') }}">
											Ganancia Neta (Ventas - Gastos)
										</a>
									</li>
								{% endif %}
									<li>
										<a href="{{ path('documento_informeGastos') }}">
											Informe Estad&iacute;stico de Gastos
										</a>
									</li>
									<li>
										<a href="{{ path('documento_informeVentas') }}">
											Informe Estad&iacute;stico de Entregas
										</a>
									</li>
									<li>
										<a href="{{path('elemento_listado')}}">
											Listado p/control
										</a>
									</li>
									<li>
										<a href="{{path('elemento_listadocategoria')}}">
											Listado p/control por Categoría
										</a>
									</li>
									<li>
										<a href="{{path('informeingresosegresos')}}">
											Listado de Ingresos y Egresos
										</a>
									</li>
								</ul>
							</li>
 							<li>
								<a href="#"><i class="fa fa-cog fa-fw"></i> Parametría<span class="fa arrow"></span></a>
								<ul class="nav nav-second-level">
									<li>
										<a href="{{ path('categoria') }}">
											Categorías
										</a>
									</li>
									<li>
										<a href="{{ path('tipogasto') }}">
											Tipo de Gastos
										</a>
									</li>
									<li>
										<a href="{{ path('usuario') }}">
											Usuarios
										</a>
									</li>
								</ul>
							</li>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>

            <!-- Page Content -->
				<div id="page-wrapper">
                    <div class="container-fluid">
                        <div class="row-fluid" >
                            {% for flashMessage in app.session.flashbag.get('msgError') %}
                                <div class="span4 offset4" >
                                    <div class="alert alert-block fade in alert-error">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <h4>{{ flashMessage }}</h4>
                                    </div>
                                </div>
                            {% endfor %}
                            {% for flashMessage in app.session.flashbag.get('msgWarn') %}
                                <div class="span4 offset4" >
                                    <div class="alert alert-block fade in alert-warning">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <h4>{{ flashMessage }}</h4>
                                    </div>
                                </div>
                            {% endfor %}
                            {% for flashMessage in app.session.flashbag.get('msgOk') %}
                                <div class="span4 offset4" >
                                    <div class="alert alert-block fade in alert-success">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <h4>{{ flashMessage }}</h4>
                                    </div>
                                </div>
                            {% endfor %}
                            {% for flashMessage in app.session.flashbag.get('msgInfo') %}
                                <div class="span4 offset4" >
                                    <div class="alert alert-block fade in alert-info">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <h4>{{ flashMessage }}</h4>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
						<div class="preloader">
                            <div class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></div>
						</div>
                        {% block body %}
                        {% endblock %}
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- /#page-wrapper -->
        </div>
            <!-- /#wrapper -->
    </body>

</html>
