{% extends 'GESTIONGestionBundle::base.html.twig' %}

{% block body -%}
<h1>
	Edici&oacute;n de Usuario
	<a class="btn btn-default"  href="{{ path('usuario') }}">
		Volver
	</a>
</h1>
<div class="joyas-container">
	<div class="container">
		{{ form_start(edit_form) }}
			{{ form_errors(edit_form) }}		
			{{ form_row(edit_form.login) }}
			{{ form_row(edit_form.clave) }}
			{{ form_row(edit_form.mail) }}
			{{ form_row(edit_form.perfil) }}
			
			{{ form_widget(edit_form.submit) }}
			<a class="btn middle-second"  href="{{ path('usuario') }}">
				Volver
			</a>
		{{ form_end(edit_form) }}	
	</div>
</div>
{% endblock %}
