{% extends 'GESTIONGestionBundle::base.html.twig' %}

{% block body -%}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
			Clientes
			<a style="float:right;" class="btn btn-primary" href="{{ path('cliente_new') }}">
				Crear
			</a>
			</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="tablasScroll">
		<table id="clientes" class="display">
			<thead>
				<tr>
					<th>Raz&oacute;n Social</th>
					<th>CUIT</th>
					<th>Dirección</th>
					<th>Mail</th>
					<th>Tel./Cel.</th>
					<th>Ac.</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td><a title="Cuenta Corriente" href="{{ path('cliente_show', { 'id': entity.id }) }}">{{ entity.razonSocial }}</a></td>
					<td>{{ entity.cuit }}</td>
					<td>{% if entity.localidad %}{{ entity.localidad }}, {% endif %}{{ entity.direccion }}</td>
					<td>{{ entity.mail }}</td>
					<td>{{ entity.telefono|default('-') }}</td>
					<td>
						<a title="Editar" class="btn btn-success btn-xs" href="{{ path('cliente_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
<script>
	$('#clientes').DataTable( {
		"paging":   false,
		"info":     false,
		"filter": 	true,
		"scrollY":  "480px",
		"order": [[0, "asc"]],
		"ordering": true,
		dom: 'Bfrtip',
		buttons: [
			{
				extend: 'excelHtml5',
				filename: 'Listado de Clientes',
				text: 'Guardar en excel',
				footer: true,
				exportOptions: {
					modifier: {
						page: 'current'
					}
				}
			}		
		],
		"oLanguage": {
			"sSearch": "Buscar:",
			"sEmptyTable": 	   "No se encontraron registros.",			
			"sProcessing":     "Procesando...",
			"sLengthMenu":     "Mostrar _MENU_ registros",
			"sZeroRecords":    "No se encontraron resultados",
			"sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
			"sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
			"sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
			"sInfoPostFix":    "",
			"sSearch":         "Buscar:",
			"sUrl":            "",
			"sInfoThousands":  ",",
			"sLoadingRecords": "Cargando..."
		}		
	} );
	
	$('document').ready(function(){
		$('.buttons-excel').removeClass('buttons-html5').removeClass('dt-button').addClass('btn btn-success');
	});
</script>

{% endblock %}
