{% extends 'GESTIONGestionBundle::base.html.twig' %}

{% block body -%}
    <h1>
		Creaci&oacute;n de Cliente
		<a id="volver" class="btn btn-default" href="{{ path('cliente') }}">
			Volver
		</a>
	</h1>

    <div class="joyas-container">
		<div class="container">
			{{ form(form) }}
		</div>
	</div>
{% endblock %}
