{% extends 'GESTIONGestionBundle::base.html.twig' %}

{% block body -%}

    <h1>
		Cliente "{{ entity.razonSocial }}"
		<a class="btn btn-default" href="{{ path('cliente') }}">
		   Volver
		</a>
	</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Razon Social</th>
                <td>{{ entity.razonSocial }}</td>
            </tr>
            <tr>
                <th>CUIT</th>
                <td>{{ entity.cuit }}</td>
            </tr>
            <tr>
                <th>Direcci&oacute;n</th>
                <td>{{ entity.direccion }}, {{ entity.localidad }}</td>
            </tr>
            <tr>
                <th>Tel&eacute;fono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ entity.mail }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
