{% extends 'GESTIONTiendaBundle::base.html.twig' %}
{% block body -%}


	<section class="post-wrapper-top jt-shadow clearfix">
		<div class="container">
			<div class="col-lg-12">
				<h2>Contacto</h2>
                <ul class="breadcrumb pull-right hidden-xs">
                    <li><a href="{{path('_index')}}">Inicio</a></li>
                    <li>Contacto</li>
                </ul>
			</div>
		</div>
	</section><!-- end post-wrapper-top -->

    <section class="white-wrapper nopadding">
        <div class="clearfix"></div>
        <div class="container">
			
			<div class="contact_form">
				<div id="message"></div>
					<form id="contactform" action="contact.php" name="contactform" method="post">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<input type="text" name="nombre" id="name" class="form-control" placeholder="Nombre"> 
							<input type="text" name="email" id="email" class="form-control" placeholder="Email">
							<input type="text" name="telefono" id="website" class="form-control" placeholder="Telefono"> 
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<input type="text" name="asunto" id="subject" class="form-control" placeholder="Asunto">  
							<textarea class="form-control" name="mensaje" id="comments" rows="6" placeholder="Mensaje"></textarea>
							<button type="submit" value="SEND" id="submit" class="btn btn-lg btn-primary pull-right">ENVIAR</button>
						</div>
					</form>    
				</div><!-- end contact-form -->
        
				<div class="clearfix"></div>
        
			<div class="row padding-top margin-top">
				<div class="contact_details">
					<div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
						<div class="text-center">
							<div class="wow swing">
								<div class="contact-icon">
									<a href="#" class=""> <i class="fa fa-map-marker fa-3x"></i> </a>
								</div><!-- end dm-icon-effect-1 -->
								 <p>Av. Gaona 2435, Caballito <br>
								CABA, CP 1406</p>
							</div><!-- end service-icon -->
						</div><!-- end miniboxes -->
					</div><!-- end col-lg-4 -->
					
					<div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
						<div class="text-center">
							<div class="wow swing">
								<div class="contact-icon">
									<a href="#" class=""> <i class="fa fa-phone fa-3x"></i> </a>
								</div><!-- end dm-icon-effect-1 -->
								 <p><strong>Teléfono:</strong> (+54) 11 6260 2482<br>
								<strong>Teléfono:</strong> (+54) 11 6164 9471</p>
							</div><!-- end service-icon -->
						</div><!-- end miniboxes -->
					</div><!-- end col-lg-4 -->  

					<div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
						<div class="text-center">
							<div class="wow swing">
								<div class="contact-icon">
									<a href="#" class=""> <i class="fa fa-envelope-o fa-3x"></i> </a>
								</div><!-- end dm-icon-effect-1 -->
								 <p><strong>Información:</strong> info@molatehome.com.ar<br>
								<strong>Ventas:</strong> ventas@molatehome.com.ar</p>
							</div><!-- end service-icon -->
						</div><!-- end miniboxes -->
					</div><!-- end col-lg-4 -->                  
				</div><!-- end contact_details -->
			</div><!-- end margin-top --><br><br>
        </div><!-- end container -->
    </section><!-- end map wrapper -->
{% endblock %}
