{% extends 'GESTIONTiendaBundle::base.html.twig' %}
{% block body -%}
	<section class="post-wrapper-top jt-shadow clearfix">
		<div class="container">
			<div class="col-lg-12">
				<h2>Mis Datos</h2>
                <ul class="breadcrumb pull-right hidden-xs">
                    <li><a href="{{path('_index')}}">Inicio</a></li>
                    <li>Mis Datos</li>
                </ul>
			</div>
		</div>
	</section><!-- end post-wrapper-top -->
    <section class="white-wrapper nopadding">
        <div class="clearfix"></div>
        <div class="container">
			<div class="col-sm-12">
				{{ form(edit_form) }}
			</div>
			<div class="clearfix"></div>
		</div><!-- end contact_details -->
		<br><br>
    </section><!-- end map wrapper -->
<script>
	$('document').ready(function(){
		$('input').addClass('form-control');
	});
</script>
{% endblock %}
