{% extends 'GESTIONTiendaBundle::base.html.twig' %}
{% block body -%}


	<div class="container">
		<section class="slider-wrapper fullwidthbanner-container">
			<div class="tp-banner-container">
				<div class="fullwidthbanner" >
					<ul><!-- SLIDE  -->
						<li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
							<!-- MAIN IMAGE -->
							<img src="{{asset(pluginsurl~'portada.jpg')}}"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
						</li>
						<li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
							<!-- MAIN IMAGE -->
							<img src="{{asset(pluginsurl~'portada.jpg')}}"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
						</li>
					    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
							<!-- MAIN IMAGE -->
							<img src="{{asset(pluginsurl~'portada.jpg')}}"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
						</li>
					</ul>
					<div class="tp-bannertimer"></div>
				</div>
				<div class="slider-shadow"></div>
			</div>
		</section><!-- end slider-wrapper -->
    </div><!-- end container -->
	<div class="messagebox">
		<h2>BIENVENIDOS A MOLATE HOME ®</h2>
		<p class="lead">Un espacio de diseño y confort pensado para vos. Asesoramiento personalizado. Productos de primera calidad.</p>
	</div>	
	<section class="white-wrapper">
    	<div class="container">
			<div class="general-title padding-top">
				<h2>Nuestros Productos Destacados</h2>
				<hr>
				<p class="lead">Seleccionados especialmente para vos</p>
			</div>
			<div class="shop_wrapper padding-top">
                <div class="padding-top">
					{% for producto in productos %}
					{% set class = ''%}
					{% if loop.index in [1,5,9,13,17,21,25,29,33,37,41,45,49,53,57,61] %}
						{% set class = 'first'%}
					{% endif %}
					{% if loop.index in [4,8,12,16,20,24,28,32,36,40,44,48,52,56,60,64] %}
						{% set class = 'last'%}
					{% endif %}
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 {{class}}">
                        <div class="shop_item">
                            <div class="entry">
                                <img src="{{producto.imagenBlob}}" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st btn btn-default" rel="bookmark" href="{{path('_producto', {slug: producto.slug})}}">Ver</a>
                                    </div><!-- end buttons -->
                                </div><!-- end magnifier -->
                            </div><!-- end entry -->
                            <div class="shop_desc">
                                <div class="shop_title pull-left">
                                    <a href="#"><span>{{producto.nombre}}</span></a>
                                    <span class="cats"><a href="{{path('_categoria', {slug: producto.categoria.slug})}}">{{producto.categoria.nombre}}</a></span>
                                </div>
                                <span class="price pull-right">
                                    ${{producto.precio}}
                                </span>
                            </div><!-- end shop_desc -->
                        </div><!-- end item -->
                    </div><!-- end col-lg-3 -->
					{% endfor %}
                </div><!-- end padding-top -->			
			</div><!-- end shop-wrapper -->
			
			<div class="clearfix"></div>
			
			<div class="buttons padding-top text-center">
				<a href="{{path('_tienda')}}" class="btn btn-primary btn-lg" title="">Ir a la Tienda</a>
			</div>
		</div><!-- end container -->
	</section><!-- end white-wrapper -->
{% endblock %}
