{% extends 'GESTIONTiendaBundle::base.html.twig' %}
{% block body -%}


	<section class="post-wrapper-top jt-shadow clearfix">
		<div class="container">
			<div class="col-lg-12">
				<h2>ingresar</h2>
                <ul class="breadcrumb pull-right hidden-xs">
                    <li><a href="{{path('_index')}}">Inicio</a></li>
                    <li>Ingresá</li>
                </ul>
			</div>
		</div>
	</section><!-- end post-wrapper-top -->
    <section class="white-wrapper nopadding">
        <div class="clearfix"></div>
        <div class="container">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<h3>
					Ingresá
				</h3>
				<form action="{{path('_login_web')}}" name="contactform" method="post">
					<div class="col-sm-12">
						<input type="text" name="email" id="email" class="form-control" required placeholder="Email">
						<input type="password" name="clave" id="clave" class="form-control" required placeholder="Clave">
					</div>
					<div class="col-sm-12">
						<button type="submit" class="btn btn-lg btn-primary">
							Ingresar
						</button>
					</div>
				</form>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<h3>
					Registrate
				</h3>
				<form action="{{path('_registro')}}" name="contactform" method="post">
					<div class="col-sm-12">
						<input type="text" name="nombre" id="nombre" required class="form-control" placeholder="Apellido y Nombre" value="{{app.request.get('nombre')}}">
						<input type="text" name="email" id="email" required class="form-control" placeholder="Email" value="{{app.request.get('email')}}">
						<input type="text" minlength="6" maxlength="30" name="telefono" id="telefono" required class="form-control" placeholder="Telefono" value="{{app.request.get('telefono')}}">
						<input type="text" minlength="4" maxlength="30" name="clave" id="clave" required class="form-control" placeholder="Clave de Ingreso a la Tienda" value="{{app.request.get('clave')}}">
					</div>
					<div class="col-sm-12">
						<button type="submit" class="btn btn-lg btn-primary">
							Registrarme
						</button>
					</div>
				</form>
			</div>
			<div class="clearfix"></div>
		</div><!-- end contact_details -->
		<br><br>
    </section><!-- end map wrapper -->
{% endblock %}
