{% block body -%}
<div style="width: 100%;">
	<h4>Hola {{pedido.cliente.razonSocial}} !</h4>
	<p>
		Tu pedido ya est&aacute; listo, pod&eacute;s gestionarlo desde nuestro sitio web ingresando con tu usuario
		y yendo a la secci&oacute;n <a href="{{path('_mispedidos')}}" target="_blank" >Mis Pedidos</a>, record&aacute; que primero
		debés iniciar sesi&oacute;n.
	</p>
	<p>
		Te esperamos!
		<br/><br/>
		<a href="http://molatehome.com.ar/" target="_blank">Molate Home</a>
	</p>
</div>
{% endblock %}
