{% extends 'GESTIONTiendaBundle::base.html.twig' %}
{% block body -%}
	<section class="post-wrapper-top jt-shadow clearfix">
		<div class="container">
			<div class="col-lg-12">
				<h2>Ver Pedido</h2>
                <ul class="breadcrumb pull-right hidden-xs">
                    <li><a href="{{path('_index')}}">Inicio</a></li>
                    <li>Ver Pedido</li>
                </ul>
			</div>
		</div>
	</section><!-- end post-wrapper-top -->

	<section class="white-wrapper">
		<div class="container">
        	<div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="widget">
                        <h3 class="text-center">PEDIDO #{{pedido.id}}</h3>
                    </div><!-- end widget -->
                </div>
				<div class="col-sm-12">
					<div class="col-md-6">{{pedido.estadostr|raw}}</div>
					<div class="col-md-6">{{pedido.descripcion}}</div>
				</div>
				<div class="col-sm-12">
					<table class="table">
						<thead>
							<tr>
								<th>Producto</th>
								<th>Cantidad</th>
								<th>Precio Unitario</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							{% for elementoentrega in pedido.elementoscolaboracion %}
							<tr>
								<td><a href="{{path('_producto', {slug:elementoentrega.elementostock.elemento.slug})}}">{{elementoentrega.elementostock.elemento.nombre}}</a></td>
								<td>{{elementoentrega.cantidad}}</td>
								<td>$ {{elementoentrega.precio}}</td>
								<td>$ {{elementoentrega.cantidad * elementoentrega.precio}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<div class="text-center">
						<h2 class="text-center">TOTAL $ {{pedido.total}}</h2>
					</div>
				</div><!-- end col-md-12 -->
			</div><!-- end row -->
		</div><!-- end container -->
	</section><!-- end postwrapper -->
<script>
$('document').ready(function(){

});
</script>
{% endblock %}
