{% extends 'GESTIONGestionBundle::base.html.twig' %}

{% block body -%}
    <h1>
		Crear Producto
		<a class="btn btn-default" style="float:right;" href="{{ path('elemento') }}">
			Volver
		</a>
	</h1>
	<div class="col-md-6 col-md-offset-3 gestion">
		{{ form_start(form) }}
		
		{{ form_end(form) }}
	</div>
	<script>
		$(document).ready(function(){
			$('#gestion_gestionbundle_elemento_destacado,#gestion_gestionbundle_elemento_novedad').removeAttr('required');
		});
	</script>
{% endblock %}
