{% extends 'GESTIONGestionBundle::base.html.twig' %}

{% block body -%}
    <h1>
		{{entity.nombre}}
		<a class="btn btn-default" style="float:right;" href="{{ path('elemento') }}">
			Volver
		</a>
	</h1>
    <div class="gestion col-md-8 col-md-offset-2">
		<table class="table">
			<tbody>
				<tr>
					<th>Código</th>
					<td>{{ entity.codigo }}</td>
				</tr>
				<tr>
					<th>Categoría</th>
					<td>{{ entity.categoria }}</td>
				</tr>
				<tr>
					<th>Stock Total</th>
					<td>{{ entity.stock }}</td>
				</tr>
				<tr>
					<th>Stock Mínimo</th>
					<td>{{ entity.stockminimo }}</td>
				</tr>
				<tr>
					<th>Descripción</th>
					<td>{{ entity.descripcion|nl2br }}</td>
				</tr>
				<tr>
					<th>Imagen</th>
					<td><img style='width: 50%;' src="{{ entity.imagenBlob }}" /></td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
