{% extends 'GESTIONGestionBundle::base.html.twig' %}

{% block body -%}
    <h1>
		{{entity.nombre}}
		<a class="btn btn-default" style="float:right;" href="{{ path('categoria') }}">
			Volver
		</a>
	</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Descripción</th>
                <td>{{ entity.nombre }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
